body { 
 background-color: white;
} 
  h1{ 
  color: black ;
  font-size: 60px ;
  font-family:Times New Roman ;
  margin-top:0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  }
 img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
} 
