body {
  background-color: lightblue;
}  

table, tr, th {
  border: 5px solid;
  width: 50%;
  border-collapse: collapse;
  width: 40%;
}

th {
  height: 50px;
}

tr {
  height: 50px;
  vertical-align: bottom;
  text-align: center;
}